@model train_tickets_system.Models.SendConfirmationViewModel
@{
    ViewBag.Title = "SendConfirmation";
}

<h2>SendConfirmation</h2>
@if(Model.Confirmed)
{
    @Html.Raw("Your ticket is already confirmed.")
}
else
{
    @Html.Raw("A verification email has been sent.")
}

